<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <title>倾城之链 | NICE LINKS</title>
  <meta name="description" content="倾城之链，作为一个开放平台，旨在云集全球优秀网站，探索互联网中更广阔的世界；在这里，你可以轻松发现、学习、分享更多有用或有趣的事物。" />
  <meta name="keywords"
    content="网站, 应用, 导航, 分享, 有趣, 学习, 网址导航, 网址大全, 免费资源, 最新网址, 上网导航, 国外网站, 网站优化, 资源分享, 视频下载, 实用软件, 科技网站, 学习强国, 分享赚钱, 睡后收入, 被动收入" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="home" href="https://site.lovejade.cn/" />
  <meta name="viewport" content="user-scalable=yes,width=device-width,initial-scale=1,maximum-scale=3">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@nicejadeyang" />
  <meta name="twitter:title" content="倾城之链 | NICE LINKS" />
  <meta name="twitter:description" content="倾城之链，作为一个开放平台，旨在云集全球优秀网站，探索互联网中更广阔的世界；在这里，你可以轻松发现、学习、分享更多有用或有趣的事物。" />
  <meta name="twitter:image" content="https://site.lovejade.cn/static/img/favicons/favicon.png" />
  <link rel="preconnect" href="https://image.lovejade.cn" crossorigin>
  <link rel="dns-prefetch" href="https://image.lovejade.cn">
  <link rel="dns-prefetch" href="https://pagead2.googlesyndication.com">
  <link rel="dns-prefetch" href="https://www.googletagmanager.com">

  <script data-ad-client="ca-pub-8586652723015758" async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <% if (htmlWebpackPlugin.options.env !=='development' ) { %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-L1T4772VPY"></script>
    <script>
      window.dataLayer = window.dataLayer || []
      function gtag() { dataLayer.push(arguments) }
      gtag('js', new Date())
      gtag('config', 'G-L1T4772VPY')
      gtag('config', 'AW-11385088411')

      if (location.href.indexOf('google_ads') > -1) {
        window.IS_FROM_GOOGLE_ADS = true
      }
      function gtag_report_conversion(url) {
        var callback = function () {
          if (typeof (url) != 'undefined') {
            window.location = url
          }
        }
        gtag('event', 'conversion', {
          'send_to': 'AW-11385088411/8Y-PCKrJn-8YEJvT6rQq',
          'event_callback': callback
        })
        return false
      }
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics End-->

    <link rel="icon" type="image/svg+xml" href="/static/img/favicons/favicon.png" />
    <link rel="home" href="/" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicons/favicon-16x16.png">
    <!--[if IE]><link rel="shortcut icon" href="/static/img/favicons/favicon.ico"><![endif]-->
    <link rel="manifest" href="/static/manifest.json">
    <link rel="mask-icon" href="/static/img/favicons/safari-pinned-tab.svg" color="#27a0cf">
    <meta name="theme-color" content="#ffffff">

    <style>
      @media (min-width: 550px) {
        .twelve.columns {
          width: 100%;
          margin-left: 0;
        }
      }

      .flower-container {
        position: relative;
        padding-bottom: 8em;
        margin: 0em 0 -6em;
        overflow: hidden;
      }

      .flower-container .unit-wrapper {
        position: absolute;
        width: 66%;
        top: 0;
        bottom: 25%;
        left: 0;
        right: 0;
        margin: auto;
        opacity: 0;
        animation-delay: 2.75s;
        animation: show-text 1s 2.5s forwards cubic-bezier(0.1, 0.95, 0.59, 1.22);
      }

      .flower-container .unit-wrapper .headline {
        position: absolute;
        top: calc(50% - 2em);
        left: -10em;
        right: -10em;
        text-align: center;
        font-weight: 400;
        text-shadow: 0 0 2em #fff;
      }

      .flower-container .unit-wrapper .hero-description {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        font-size: 18px;
        line-height: 18px;
        text-align: center;
        text-shadow: 0 0 2em #fff;
      }

      .flower-container .unit-wrapper .hero-description .desc-text {
        display: block;
        font-weight: bold;
        line-height: 2.6rem;
      }

      .flower-container .unit-wrapper .hero-description .function {
        -webkit-text-fill-color: transparent;
        background: -webkit-linear-gradient(50deg, #17223b, #ff6768);
        -webkit-background-clip: text;
      }

      .flower-container .unit-wrapper .hero-description .objective {
        margin-top: 1.8rem;
        -webkit-text-fill-color: transparent;
        background: -webkit-linear-gradient(220deg, #17223b, #ff6768);
        -webkit-background-clip: text;
      }

      .flower-container .unit-wrapper .hero-description .objective .mark {
        background-color: transparent;
      }

      .flower-container .unit-wrapper .hero-description .explore-all-link {
        display: inline-block;
        border: 2px solid #da552f;
        padding: 2rem 8rem;
        margin-top: 3.6rem;
        color: #da552f;
        font-weight: bold;
        font-size: 2.4rem;
        line-height: 2.6rem;
        border-radius: 4rem;
        transition: all 0.2s ease;
        box-sizing: border-box;
      }

      .flower-container .unit-wrapper .hero-description .explore-all-link:hover {
        color: #fff;
        background-color: #da552f;
      }

      .flower-container .flower {
        position: relative;
        display: block;
        height: 14em;
        width: 14em;
        font-size: 22px;
        margin: 5em auto 4.25em;
        transition: all 0.2s ease-out;
      }

      body[theme='dark'] .flower-container {
        filter: invert(1) hue-rotate(180deg);
      }

      .flower-container .part {
        position: absolute;
        top: 50%;
        left: 50%;
      }

      /* Large Petals */
      .flower-container .part:nth-child(1),
      .flower-container .part:nth-child(2),
      .flower-container .part:nth-child(3),
      .flower-container .part:nth-child(4) {
        height: 10em;
        width: 10em;
        margin: -10em 0 0;
        border-radius: 100% 0;
        background-color: rgba(199, 212, 227, 0.5) !important;
        opacity: 1;
        transform-origin: 0 100% 0;
      }

      .flower-container .part:nth-child(1) {
        transform: rotate(0deg);
        box-shadow: 0 2.75em 4.5em rgba(0, 0, 0, 0.2);
      }

      .flower-container .part:nth-child(2) {
        transform: rotate(90deg);
        box-shadow: 2.75em 0 4.5em rgba(0, 0, 0, 0.2);
      }

      .flower-container .part:nth-child(3) {
        transform: rotate(180deg);
        box-shadow: 0 -2.75em 4.5em rgba(0, 0, 0, 0.2);
      }

      .flower-container .part:nth-child(4) {
        transform: rotate(270deg);
        box-shadow: -2.75em 0 4.5em rgba(0, 0, 0, 0.2);
      }

      /* Small Petals */
      .flower-container .part:nth-child(n+5) {
        background-color: rgba(121, 103, 158, 0.5) !important;
        height: 6em;
        width: 6em;
        opacity: 0.7;
        border-radius: 100% 0;
        margin-top: -6em;
        margin-left: 0em;
        transform-origin: 0 100% 0;
      }

      .flower-container .part:nth-child(5) {
        transform: rotate(0deg);
      }

      .flower-container .part:nth-child(6) {
        transform: rotate(45deg);
      }

      .flower-container .part:nth-child(7) {
        transform: rotate(90deg);
      }

      .flower-container .part:nth-child(8) {
        transform: rotate(135deg);
      }

      .flower-container .part:nth-child(9) {
        transform: rotate(180deg);
      }

      .flower-container .part:nth-child(10) {
        transform: rotate(225deg);
      }

      .flower-container .part:nth-child(11) {
        transform: rotate(270deg);
      }

      .flower-container .part:nth-child(12) {
        transform: rotate(315deg);
      }

      /* Animations */
      .lotus-animations .flower-container .part {
        opacity: 0;
        animation: linear forwards 2s;
      }

      .lotus-animations .part:nth-child(1) {
        animation: show-large-leaf 2s 0.5s forwards linear;
      }

      .lotus-animations .part:nth-child(2) {
        animation: show-large-leaf 2s 1.0s forwards linear;
      }

      .lotus-animations .part:nth-child(3) {
        animation: show-large-leaf 2s 1.5s forwards linear;
      }

      .lotus-animations .part:nth-child(4) {
        animation: show-large-leaf 2s 2.0s forwards linear;
      }

      .lotus-animations .part:nth-child(5) {
        animation: show-small-leaf 2s 0.25s forwards linear;
      }

      .lotus-animations .part:nth-child(6) {
        animation: show-small-leaf 2s 0.50s forwards linear;
      }

      .lotus-animations .part:nth-child(7) {
        animation: show-small-leaf 2s 0.75s forwards linear;
      }

      .lotus-animations .part:nth-child(8) {
        animation: show-small-leaf 2s 1.00s forwards linear;
      }

      .lotus-animations .part:nth-child(9) {
        animation: show-small-leaf 2s 1.25s forwards linear;
      }

      .lotus-animations .part:nth-child(10) {
        animation: show-small-leaf 2s 1.50s forwards linear;
      }

      .lotus-animations .part:nth-child(11) {
        animation: show-small-leaf 2s 1.75s forwards linear;
      }

      .lotus-animations .part:nth-child(12) {
        animation: show-small-leaf 2s 2.00s forwards linear;
      }

      @keyframes show-large-leaf {
        0% {
          opacity: 0;
        }

        100% {
          opacity: 1;
        }
      }

      @keyframes show-small-leaf {
        0% {
          opacity: 0;
        }

        100% {
          opacity: 0.7;
        }
      }

      @keyframes show-text {
        0% {
          opacity: 0;
          transform: translateY(1em);
        }

        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }

      @keyframes fade-in {
        0% {
          opacity: 0;
        }

        100% {
          opacity: 1;
        }
      }

      /* Media Queries */
      @media (max-width: 768px) {
        .flower-container .flower {
          font-size: 1.8rem !important;
        }

        .flower-container .unit-wrapper {
          width: 100%;
        }

        .flower-container .unit-wrapper .hero-description {
          font-size: 2.2rem;
          padding: 0px 20px;
          line-height: 2.6rem;
        }

        .flower-container .unit-wrapper .hero-description .explore-all-link {
          padding: 1rem 4rem;
          margin: 1.8rem auto;
          line-height: 2.6rem;
        }
      }

      @media (max-width: 560px) {
        .flower-container .unit-wrapper .hero-description {
          font-size: 2rem;
          padding: 0px 10px;
        }
      }

      @media (max-width: 414px) {
        .flower-container .flower {
          font-size: 1.8rem !important;
        }

        .flower-container .unit-wrapper .hero-description {
          font-size: 1.8rem;
          padding: 0px 10px;
        }
      }

      @media (max-width: 375px) {
        .flower-container .flower {
          font-size: 1.6rem !important;
        }
      }

      /* Animation Classes */
      .fade-in {
        animation-name: fade-in;
      }

      .animated {
        animation-duration: 1s;
        animation-fill-mode: both;
        visibility: visible;
        animation-name: fade-in;
      }

      .animated.infinite {
        animation-iteration-count: infinite;
      }

      .animated.hinge {
        animation-duration: 6s;
      }
    </style>

    <% for (var chunk of webpack.chunks) { for (var file of chunk.files) { if (file.match(/\.(css)$/)) { %>
      <link rel="<%= chunk.initial ? 'preload' : 'prefetch' %>" href="<%= htmlWebpackPlugin.files.publicPath + file %>"
        as="<%= file.match(/\.css$/)?'style':'script' %>">
      <% }}} %>
        <% } %>
</head>

<body>
  <div id="app"></div>
  <!-- built files will be auto injected -->
  <script src="<%= webpackConfig.output.publicPath %>static/js/vendor.dll.js?v=20250227"></script>
  <!--[if lt IE 9]>
      <script async src="<%= webpackConfig.output.publicPath %>static/js/browsermodal.js"></script>
    <![endif]-->
  <!-- Todo: only include in production -->
  <%= htmlWebpackPlugin.options.serviceWorkerLoader %>
    <!-- built files will be auto injected -->
    </script>
</body>

</html>