<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>倾城之链 | NICE LINKS</title>
    <meta name="viewport" content="user-scalable=no, width=device-width,initial-scale=1,minimum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@jeffjade2" />
    <meta name="twitter:title" content="倾城之链 | NICE LINKS" />
    <meta name="twitter:description" content="倾城之链，作为一个开放平台，旨在云集全球优秀网站，探索互联网中更广阔的世界；在这里，你可以轻松发现、学习、分享更多有用或有趣的事物。" />
    <meta name="twitter:image" content="https://static.nicelinks.site/static/img/favicons/favicon.png" />

    <% if (htmlWebpackPlugin.options.env !== 'development') { %>
      <!-- Global site tag (gtag.js) - Google Analytics Start-->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-98631211-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-98631211-1');
      </script>
      <!-- Global site tag (gtag.js) - Google Analytics End-->

      <link rel="apple-touch-icon" sizes="180x180" href="/static/img/favicons/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicons/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicons/favicon-16x16.png">
      <!--[if IE]><link rel="shortcut icon" href="/static/img/favicons/favicon.ico"><![endif]-->
      <link rel="manifest" href="/static/manifest.json">
      <link rel="mask-icon" href="/static/img/favicons/safari-pinned-tab.svg" color="#27a0cf">
      <meta name="theme-color" content="#ffffff">

      <% for (var chunk of webpack.chunks) {
      for (var file of chunk.files) {
        if (file.match(/\.(css)$/)) { %>
      <link rel="<%= chunk.initial ? 'preload' : 'prefetch' %>" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>">
      <% }}} %>

      <script async src="<%= webpackConfig.output.publicPath %>static/js/polyfill.min.js"></script>
    <% } %>
  </head>

  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <script  src="<%= webpackConfig.output.publicPath %>static/js/vendor.dll.js?v04-06"></script>
    <!--[if lt IE 9]>
      <script async src="<%= webpackConfig.output.publicPath %>static/js/browsermodal.js"></script>
    <![endif]-->
  </body>
  <script>
    console.log('“倾心缔造，痴心为你”：%c倾城之链', 'font-weight: 600;color: #2c85ff')
  </script>
</html>
