<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <title>倾城之链 | NICE LINKS</title>
    <meta name="description" content="倾城之链，作为一个开放平台，旨在云集全球优秀网站，探索互联网中更广阔的世界；在这里，你可以轻松发现、学习、分享更多有用或有趣的事物。" />
    <meta name="viewport" content="user-scalable=yes,width=device-width,initial-scale=1,maximum-scale=3">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@nicejadeyang" />
    <meta name="twitter:title" content="倾城之链 | NICE LINKS" />
    <meta name="twitter:description" content="倾城之链，作为一个开放平台，旨在云集全球优秀网站，探索互联网中更广阔的世界；在这里，你可以轻松发现、学习、分享更多有用或有趣的事物。" />
    <meta name="twitter:image" content="https://static.nicelinks.site/static/img/favicons/favicon.png" />
    <link rel="preconnect" href="https://static.nicelinks.site" crossorigin>
    <link rel="dns-prefetch" href="https://static.nicelinks.site">
    <link rel="preconnect" href="https://image.nicelinks.site" crossorigin>
    <link rel="dns-prefetch" href="https://image.nicelinks.site">
    <link rel="preconnect" href="https://oss.nicelinks.site" crossorigin>
    <link rel="dns-prefetch" href="https://oss.nicelinks.site">
    <link rel="dns-prefetch" href="https://comment.nicelinks.site">
    <link rel="dns-prefetch" href="https://pagead2.googlesyndication.com">
    <link rel="dns-prefetch" href="https://www.googletagmanager.com">

    <script data-ad-client="ca-pub-8586652723015758" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <% if (htmlWebpackPlugin.options.env !== 'development') { %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-L1T4772VPY"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-98631211-1');
        gtag('config', 'G-L1T4772VPY');
        gtag('config', 'AW-340824387');
        

        if (location.href.indexOf('google_ads') > -1) {
          window.IS_FROM_GOOGLE_ADS = true
        }
        function gtag_report_conversion(url) {
          var callback = function () {
            if (typeof(url) != 'undefined') {
              window.location = url;
            }
          };
          gtag('event', 'conversion', {
              'send_to': 'AW-340824387/tXAWCOzt-sEDEMOiwqIB',
              'event_callback': callback
          });
          return false;
        }
      </script>
      <!-- Global site tag (gtag.js) - Google Analytics End-->

      <link rel="apple-touch-icon" sizes="180x180" href="/static/img/favicons/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicons/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicons/favicon-16x16.png">
      <!--[if IE]><link rel="shortcut icon" href="/static/img/favicons/favicon.ico"><![endif]-->
      <link rel="manifest" href="/static/manifest.json">
      <link rel="mask-icon" href="/static/img/favicons/safari-pinned-tab.svg" color="#27a0cf">
      <meta name="theme-color" content="#ffffff">

      <% for (var chunk of webpack.chunks) {
      for (var file of chunk.files) {
        if (file.match(/\.(css)$/)) { %>
      <link rel="<%= chunk.initial ? 'preload' : 'prefetch' %>" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>">
      <% }}} %>
    <% } %>
    <script async src="<%= webpackConfig.output.publicPath %>static/js/Waline.min.js"></script>
  </head>

  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <script src="<%= webpackConfig.output.publicPath %>static/js/vendor.dll.js?v=20220809"></script>
    <!--[if lt IE 9]>
      <script async src="<%= webpackConfig.output.publicPath %>static/js/browsermodal.js"></script>
    <![endif]-->
    <!-- Todo: only include in production -->
    <%= htmlWebpackPlugin.options.serviceWorkerLoader %>
    <!-- built files will be auto injected -->
    </script>
  </body>
</html>
